.btn-group .button {
    background-color: #ede7df; /* Green */
    border: none;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: small;
    cursor: pointer;
    width: 100%;
  }
  
  .btn-group .button:hover {
    background-color: #aaa6a1;
  }

  .center {
    margin-left: auto;
    margin-right: auto;
  }

  label{
      color: white;
  }