<Header>
    <div style="background: #ede7df; position: fixed; top: 0; left: 0; right: 0; height: 60px;">
        <h1 style="text-align:center; font-size: x-large; color: #202044;">
        Welcome to Drive-N-Grub
        </h1>
    </div>
</Header>
<Body style="background: #41403f; position: fixed; top: 60px; left: 0; right: 0; bottom: 100px; margin: 0;">
    <div style="padding-top:100px; text-align: center;"> 
        <div style="padding: 10px; text-align: center;">
            <input [(ngModel)]="email" placeholder="email: example@gmail.com" style=" text-align:center; width: 55%" />
        </div>
        <div style="padding: 10px; text-align: center;">
            <input type="password" [(ngModel)]="passWord" placeholder="password" style=" text-align:center; width: 55%" />
        </div>             
    </div>
</Body>
<Footer>
    <div class="btn-group" style="background: #41403f; position: fixed; top: 760; left: 0; right: 0; bottom: 0px;">
        <button class="button" (click)="CustomerLogin()">Log In</button>
        <button class="button" (click)="GuestLogin()">Continue as Guest</button>
        <button class="button" (click)="BusinessLogin()">Continue as a Business</button>
        <button class="button" (click)="SignUp()">Sign Up</button>
    </div>
</Footer>

