<Header>
    <div style="background: #ede7df; position: absolute; top: 0; left: 0; right: 0; height: 60px;">
        <h1 style="text-align:center; font-size: x-large; color: #202044;">
        Welcome to Drive-N-Grub
        </h1>
    </div>
</Header>
<Body style="background: #41403f; position: absolute; top: 60px; left: 0; right: 0; bottom: 100px; margin: 0;">
    <div style="padding-top:100px;">
        <div style="text-align:center; font-size:x-large; color: white; padding-left: 10px; text-decoration: underline;">
            <b>
                Log In:
            </b>
        </div>  
        <div style="padding: 10px; text-align: center;">
            <input placeholder="email: example@gmail.com" style=" text-align:center; width: 55%" />
        </div>
        <div style="padding: 10px; text-align: center;">
            <input placeholder="password" style=" text-align:center; width: 55%" />
        </div>             
        <br>
    </div>
</Body>
<Footer>
    <div class="btn-group" style="background: #41403f; position: absolute; top: 760; left: 0; right: 0; bottom: 0px;">
        <button class="button">Continue as Guest</button>
        <button class="button">Continue as a Business</button>
        <button class="button">Sign Up</button>
    </div>
</Footer>

